# Environment variables
.env
.env.*
*.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Testing
.pytest_cache/

# SQLite databases
*.sqlite3
*.db

# OS files
.DS_Store
